@tailwind base;
@tailwind components;
@tailwind utilities;

div.week > div:first-child{
  @apply rounded-l-2xl
}
div.week > div:last-child{
  @apply rounded-r-2xl
}

.calendar{
  width:98%;
  max-width: 800px;
}

@media only screen and (max-width:500px){
  div.week>div:nth-child(6){
    display:none
  }
  div.week>div:nth-child(7){
    display:none
  }
  div.week>div:nth-child(5){
    @apply rounded-r-2xl
  }
  .calendar{
    width:98%;
  }
}

.modalCover{
  @apply fixed w-full h-full top-0 right-0;
  backdrop-filter: blur(4px) opacity(0);
  transition :backdrop-filter 1s;
}

.modalCover.active{
  backdrop-filter: blur(4px) opacity(1);
}